parameters:
    level: 2
    paths:
        - src    # Adjust this path to where your code resides
    # Optional: Add other configurations like excluding files or setting specific rules.

includes:
    - phpstan-baseline.neon