<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="default">
      <directory>test</directory>
    </testsuite>
    <testsuite name="archive">
      <file>test/Video/ArchiveTest.php</file>
    </testsuite>
    <testsuite name="audio_connector">
      <file>test/Video/AudioConnectorTest.php</file>
    </testsuite>
    <testsuite name="broadcast">
      <file>test/Video/BroadcastTest.php</file>
    </testsuite>
    <testsuite name="captions">
      <file>test/Video/CaptionsTest.php</file>
    </testsuite>
    <testsuite name="experience_composer">
      <file>test/Video/ExperienceComposerTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>
